# data
pandas

# python
twine

# lint and format
isort
flake8
yamllint
pylint
black
flake8
PyYAML

# docs
sphinx
autodoc
furo

# connection
psycopg2-binary
cx-Oracle
SQLAlchemy
pyodbc

# unit test
pytest

# task runner
invoke